# Ignore local environment files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/
.venv/

# IDE
.idea/
.vscode/

# Tests
test_*.py
*_test.py

# Git
.git/
.gitignore
